<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faiz.bumiloka">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TerraViva">
        <activity
            android:name="com.faiz.bumiloka.PengaturanActivity"
            android:exported="false" />
        <activity
            android:name="com.faiz.bumiloka.EdukasiActivity"
            android:exported="false" />
        <activity
            android:name="com.faiz.bumiloka.ProfilActivity"
            android:exported="false" />
        <activity
            android:name="com.faiz.bumiloka.TipsActivity"
            android:exported="false" />
        <activity
            android:name="com.faiz.bumiloka.AktivitasActivity"
            android:exported="false" />
        <activity
            android:name="com.faiz.bumiloka.HomeScreen"
            android:exported="false" />
        <activity
            android:name="com.faiz.bumiloka.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.faiz.bumiloka.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.faiz.bumiloka.ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name="com.faiz.bumiloka.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.faiz.bumiloka.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.TerraViva" />
    </application>

</manifest>